.page_title{box-sizing: content-box;}
.team_brife .logo img{border-radius:50%;}
.player_info{display:flex;flex-direction:column;padding:0 0.25rem;box-sizing:border-box;}
.player_info li:first-child{display:flex;}
.player_info li:first-child div:first-child{margin-right:0.2rem;}
.player_info li{margin:0.1rem 0;}

.player_team_curr{display:flex; flex-direction:column;}
.player_team_curr li{display:flex;flex-direction:row; justify-content: space-between; align-items:center; margin-bottom:0.3rem; text-align: center;}
.player_team_curr li .team_name{width:2.65rem;}
.player_team_curr li .number{width:2.2rem;}
.player_team_curr li .position{width:2rem;}

.content_main{display: flex;}
.player_recording div{margin:0.1rem 0;height: 0.3rem;}
.transfer{overflow: scroll;flex: 1;display: flex;}
.transfer li{margin: 0 0.2rem;min-width: 2rem;}
.transfer li div{height: 0.3rem;margin: 0.1rem 0;}

.player_desc{display:flex;flex-direction:column;justify-content: center;align-items: center;min-height: 3rem;}
.player_desc p{text-indent: 0.52rem;line-height: 2;}

.content_titles{justify-content: space-between;}
.content_titles .content_title_text{display: flex;align-items: center;}
.content_titles .content_title_text div{margin-right: 0.2rem;}
.triangle{display: flex;align-items: center;}
.triangle img{width: 0.2rem;height: 0.12rem;margin-right: 0.1rem;}


.player_container {
    border-top: 0.1rem solid #fff;
    overflow: scroll;
    width: 100%;
}
.player_container ul li{display: flex;align-items: center;margin-bottom: 0.4rem;text-align: center; flex-wrap:nowrap;}
.player_container ul li div{ display: inline-block; white-space: nowrap; min-width:1rem;}
.player_container ul .player_container_titles div{padding:0.2rem 0;}
.player_container ul li .double{min-width:1rem;}
.player_container ul li .four{min-width: 1.5rem}
.player_container ul li .large{min-width: 3rem}


