.con_tittles{width: 100%;height: 0.74rem;background: url(../img/global/alter_title_bg.png) no-repeat;background-size: 100% 100%;display: flex;justify-content: space-around;align-items: center;margin-top: 0.12rem;}
.con_tittles div{font-size: 0.24rem;color: #fff;}

