.header_bg{width:100%;height:30rem;min-height:30rem;background: url(../images/prize/ranking.png) no-repeat;background-size: 100% 100%;}
.header_bg .back_icon{margin-left: 3rem;margin-top: 3rem;}
.header_bg .back_icon img{width: 7.8rem;}


.prize_title{width: 100%;height: 6.5rem;min-height: 6.5rem;background: rgba(34,81,109,.6);display: flex; justify-content: space-around;align-items: center;}
.prize_title div{width: 50%;height: 100%;line-height: 6.5rem;text-align: center;font-size: 2.275rem;color: #E2E4E7;letter-spacing: .2rem;}
.prize_title .active{border-bottom: 0.325rem solid #fff;box-sizing: border-box;}


.paize_content{display: flex;justify-content: flex-start;width: 100%;overflow: scroll;padding-top: 0.54rem; height:100%;position: relative;}

.paize_content ul{overflow:scroll;}
.paize_content .round{background-color: rgba(18,65,95,.75);}
.paize_content .round li{width: 9.425rem;height: 7.58rem;border-bottom: 0.11rem solid #144B6E;display: flex;flex-direction: column;align-items: center;background-color: #19608E;padding-top: 1.2rem;box-sizing: border-box;}
.paize_content .round li div{font-size: 2rem;color: #fff;letter-spacing: .2rem;}
.paize_content .round  .activated div{color: #6E92AD;}
.paize_content .round  .activimg{background-color: #1E79B2;}

.paize_lists {display: flex;flex-direction: column;align-items: center;width: 100%;}
.paize_lists .list_title{width: 100%;height: 7.58rem;display: flex;justify-content: space-around;background-color: #155072;align-items: center;}
.paize_lists .list_title div{font-size: 2.4rem;color: #F5E65D;font-weight: bold;letter-spacing: .3rem;}

.paize_lists .list_title .title_left{width: 7rem;}
.paize_lists .list_title .title_mid{width: 25rem;display: flex;justify-content: center;}
.paize_lists .list_title .title_right{width: 10rem;}


.paize_lists .list_titles{width: 100%;height: 7.58rem;display: flex;justify-content: space-around;background-color: #2F5E7C;align-items: center;}
.paize_lists .list_titles div{font-size: 2.2rem;color: #Fff;font-weight: bold;}
.paize_lists .list_titles .left{width: 7rem;text-align: center;}
.paize_lists .list_titles .right{width: 10rem;}
.paize_lists .list_titles  .rank{display: flex;align-items: center;width: 25rem;}
.paize_content .list_titles .rank img{width: 5rem;border-radius: 50%;background-color: #fff;margin-right: 2rem;}

.paize_lists .list_content{width: 100%;position: relative;}
.paize_lists .list_content li{background-color: rgba(15,69,110,.75);width: 100%;display: flex;justify-content: space-around;height: 7.58rem;align-items: center;}
.paize_lists .list_content li div{font-size: 2.2rem;color: #fff;letter-spacing: .2rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.paize_lists .list_content li:nth-of-type(even){background-color: rgba(15,69,99,.8);}

.paize_lists .list_content li .left{width: 7rem;text-align: center;display: flex;align-items: center;}
.paize_lists .list_content li .right{width: 10rem;}

.paize_lists .list_content li .rank{display: flex;align-items: center;width: 25rem;}
.paize_content .list_content li .rank img{width: 5rem;border-radius: 50%;background-color: #fff;margin-right: 2rem;}

.paize_lists .list_content li .one,.two,.three{width: 3rem;height: 3rem;border-radius: 50%;line-height: 3rem;text-align: center;color: #000;}
.paize_lists .list_content li .one{background: linear-gradient(#FF7B33,#FF7C33);}
.paize_lists .list_content li .two{background: linear-gradient(#E39243,#E39244);}
.paize_lists .list_content li .three{background: linear-gradient(#CF9E3D,#D1A03C);}



div[prizetype='day'] .round{display: block;}
div[prizetype='total'] .round{display: none;}
